<!doctype html>
<html lang="{{ config('app.locale') }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://unpkg.com/vue"></script>


      <title>Vue Learning</title>

</head>

<body>
<h1>Vue Index</h1>

  <div id="root">

    <div style="float:right;">
      <input type="text" id="input" v-model="message">
      <p>The value of input is <br>{{ message }}.</p>
    </div>

    <input id="input" type="text" v-model="newName">
    <button v-on:click="addName" v-bind:title="title">Add Name</button>

    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>

    <br>
    <br>

    <h2>All Tasks</h2>
    <ul>
      <li v-for="task in tasks" v-text="task.description"></li>
    </ul>
    <h2>Incomplete Tasks</h2>
    <ul>
      <li v-for="task in incompleteTasks" v-text="task.description"></li>
    </ul>

  </div>


  <script>

    // Create new Vue to do things, called "app".
    var app = new Vue({
      // Lives in #root element.
      el: '#root',

      // The data it starts with.
      data: {
        message: 'Hello World',
        newName: '',
        names: ['Joe', 'Mary', 'Jane', 'Jack'],
        title: 'Now the title is being set through VueJS.',
        tasks: [
          { description: 'Go to the store', completed: true },
          { description: 'Finish vue tutorials', completed: false },
          { description: 'Take a nap', completed: false },
          { description: 'Clear inbox', completed: true },
        ],
      },

      // Methods to use.
      methods: {
        // Old syntax for browser compatability:
        // addname: function () {
        addName() {
          this.names.push(this.newName);
          this.newName = '';
        }
      },

      // Needs calculation before being rendered.
      computed: {
        incompleteTasks() {
          return this.tasks.filter(task => ! task.completed);
        }
      }
    });

  </script>


</body>

</html>
